.dropbtn {
  background-color:white;
  color: black;
  padding: 10Px;
  font-size: 16px;
  border: none;
}
.dropdown {
    margin-left: 40%;
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:white}

.btn{
    border: blue solid 1px;
}


.btn:hover{
 transform: scale(1.1);
 transition: 1s ease-out; 
}
.slide img{
    width: 100%;
    display: block;
    /* height: 520px;
    width: 100%; */
    /* object-fit: contain;   
    display: block;  */
}
.col-12 {
width: 100%;
}

.col-lg-6{
    width: 50%;
}
img{
    z-index: ;
    position: ;
    vertical-align: middle;
}

.slide_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.color_theme_green{
    color: #8dc63f;
}
.animated_services{
    color: #0d6db7;
}


.slide_content{
    justify-content: center;
}

.dont{
    margin-bottom: 30px;
    height: auto;
    border-radius: 10px;
    margin-top: 50px;
    padding: 30px;
    width: 100%;
    background-color: rgba(182, 239, 73, .2);
}

/* .hvr:hover {
  background-color: #555555;
  color: white;
} */

.hvr.mb-3:hover {
    color:black;
    
    background-color:black;
    transform: scale(1.1);
}
/* 
:hover.donate{
    background-color: black;
    color: white;
    /* transform: scale(1.1); */
     */
}
.donate{
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    /* margin-top: 10px; */
    flex-direction: row;
}
.right{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.amnt{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%!important;
}

.row.box{
    position: relative;
    /* border: 1px solid; */
     padding: 10px;
      display: flex;
       flex-direction: row; 
       width: 100%;
        justify-content: space-between;
        text-align: center;
}





.carousel-image{
    height: 560px;
    width: 100%;
    border-radius: 4px;
}

.servis-box:hover{
    transform: scale(1.1);
}

.col-lg-4{
    width: 33%;
}

.funding_box button{
    background-color: #8dc63f;
    border: none;
    font-size: 14px!important;
    outline: none;
    padding: 10px 30px;
    width: 100%;
}

.funding_box img{
    cursor: pointer;
    animation-delay: 0.1s;
    padding:;
    border-radius: 10px;
    height: 300px;
    object-fit: cover;
    width: 100%;
}

:hover.funding_box{
    transform: scale(1.1);
}

.servic_counter{
    opacity: 5;
    background-color:#0d6db7;
     padding-bottom: 100px;
      padding-top: 100px;
    
        width: 100%;
       
}

.co1{
   align-items: center;
   background-color: chartreuse;
   border-bottom: 1px solid #fff;
   border-right:  1px solid #fff;
   border-top-left-radius:60px;
   display: flex;
   height: 50%;
   justify-content: center;
   position: absolute;
   top: 0;
   width: 50%;
}


.servic_counter{
    opacity: 0.5;
 background-image: url(./img/upcoming_background.a669f19ea2aee3c7e10f.png) ;
 background-position: 50% 0;
 background-size: cover;
 display: block;
 height: 100%;
 left: 0;
 /* opacity: .2; */

 top: 0;
 width: 100%;
}

footer{
    padding: 50px;
    color: white;
    background-color: black;
    height: auto;
    width: 100%;
}
.dno:hover{
    background-color: white;
    color: black;

}
li{
    block:inline-block;
}